@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@theme {
  --font-pacifico: "Pacifico", "cursive";
}
@theme {
  --font-nunito: "Nunito", "sans-serif";
}
@import "tailwindcss";
@plugin "daisyui";
